body
{
  background: linear-gradient(180deg, #283964 30%, #90EE90 100%);

}
#header-1
{
  margin-top: 35px;
  float: left;
  color: #fff;
}
#header-2
{
  float: right;
}
#header-2 li
{
  padding: 15px;
  /* margin: 0 3px; */
  margin-top: 15px;
  float: left;
  display:inline;
}
h3 {
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  border-bottom: dashed 2px #CCCCCC;
  padding-bottom: 10px;
  margin-bottom: 40px;
  color: #fff;
}
.profile-img
{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  border-radius: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat, no-repeat;
}
p
{
  text-align: center;
  color: #fff;
}
.institute-name h5
{
  text-align: center;
  margin-top: 15px;
  color: #fff;
}
.institute-name h5
{
  text-align: center;
  margin-top: 15px;
  color: #000000;
}
.details
{
  margin-top: 20px;
  color: #fff;
}
.details h6
{
  text-align: left;
  line-height: 12px;
  color: #fff;
}
.details p
{
  text-align: left;
  line-height: normal;
  color: #fff;
}
.intro
{
  margin-top: 20px;
}
.description
{
  padding-top: 50px;
}
.layout-top-middle
{
  text-align: center;
  color: #fff;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
}
.details-project
{
  padding-top: 20px;
}
.layout-top-middle h5
{
  color: #2F4F4F;
  font-weight: bolder;
  font-style: italic;
}
.intro
{
  margin-bottom: 30px;
}
.project-container
{
  margin-bottom: 30px;
}
.more-container
{
  margin-bottom: 20px;
}
.more-container p
{
  text-align: left;
  padding-left: 20px;
  color: #000000;
}
.education-container
{
  margin-bottom: 30px;
}
.education-container p
{
  color: #000000;
}
.footer-container
{
  margin-top: 40px;
}
.footer-container p
{
  color: #000000;
}
